<template>
  <div class="panel">
    <h2>{{ $t('about') }}</h2>
      <p>{{ $t('about_1') }}</p>
      <p>{{ $t('about_2') }}</p>
      <p>{{ $t('about_3') }}</p>
      <p>{{ $t('about_4') }}</p>
      <p v-html="$t('about_free', [$t('fs_link'),'https://gitlab.com/andresmrm/coopera', 'https://gitlab.com/andresmrm/coopera/#credits'])"></p>
      <button @click="next">{{ $t('go_to_help') }}</button>
  </div>
</template>

<script>
export default {
  methods: {
    next () {
      this.$router.push({name: 'HelpPage'})
      this.$audio.play('click')
    }
  }
}
</script>

<style scoped>
</style>
