<template>
  <div>
    <h2>{{ $t('ranking') }}</h2>

    <p v-if="!rank">{{ $t('loading_') }}</p>

    <table v-else-if="rank.length">
      <thead>
        <tr>
          <th>{{ $t('level') }}</th>
          <th>{{ $t('team') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="game of rank">
          <td>{{ game.level }}</td>
          <td>{{ game.team }}</td>
        </tr>
      </tbody>
    </table>

    <p v-else>{{ $t('no_ranking') }} {{ $t('Go') }} <router-link :to="{name: 'RoomsList'}">{{ $t('play') }}</router-link>!</p>
        
  </div>
</template>

<script>
export default {
  data () {
    return {
      rank: undefined
    }
  },
  socket: {
    emit: {event: 'join_rank_list'},
    events: {
      'update_rank_list': function (data) {
        this.rank = data
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    this.$socket.emit('leave_rank_list')
    next()
  }
}
</script>

<style scoped>
</style>
